.container {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #4caf50; /* Cor do botão */
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #45a049; /* Cor ao passar o mouse */
  transform: scale(1.05); /* Pequeno efeito de zoom */
}

.button:active {
  background-color: #388e3c; /* Cor ao clicar */
  transform: scale(0.98); /* Leve compressão ao clicar */
}

.backButtonTop {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #007bff; /* Azul */
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.3s ease;
  position: absolute;
  top: 20px;
  left: 20px;
}

.backButtonTop:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.backButtonTop:active {
  background-color: #004085;
  transform: scale(0.98);
}